{namespace About}

/**
 * @param title
 * @param router
 */
{template .render}
	<div>
		<p>
			{call Image.render data="all"}
				{param id: 'image' /}
				{param width: 600 /}
				{param height: 383 /}
				{param src: 'img/img0.jpg' /}
			{/call}
		</p>
		<p>
			You are at page {$title}{$router.params.name ? ' ' + $router.params.name : ''}!
		</p>
	</div>
{/template}
