{namespace Home}

/**
 * @param title
 */
{template .render}
	<div>
		<p>
			{call Image.render data="all"}
				{param id: 'image' /}
				{param width: 512 /}
				{param height: 256 /}
				{param src: 'img/img1.jpg' /}
			{/call}
		</p>
		<p>
			You are at page {$title}!
		</p>
	</div>
{/template}
